<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" (submit)='onLogin()' *ngIf="!isLoading">
    <mat-form-field>
      <input matInput type="text" formControlName="name" placeholder="Username">
      <mat-error *ngIf="!form.get('name').valid">Please enter name</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput type="password" formControlName="password" placeholder="Password">
      <mat-error *ngIf="form.get('password').invalid">Please enter input</mat-error>
    </mat-form-field>
    <br>
    <button mat-raised-button color='accent' type='submit'>Login</button>
  </form>
</mat-card>
